/* .classname{
   property:value;
}*/

.d1{
    background-color: aqua;
    border:1px solid blue
}

/* #Idname{
   property:value;
}*/

div1{
    background-color: rgba(128,255,0,0.558);
}

/*tagname,tagname{
property:value;
}*/


*{
border:1px solid blue;
}


































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































h1,p,a{
    color:rgb(44, 148, 113);
}